<div id="header">
  <div class="container">
    <!-- Navbar ================================================== -->
    <div id="logoArea" class="navbar">
      <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-inner">
        <a class="brand" href="../authindex.html">
          <img src="themes/images/logo.png" alt="Bootsshop"/>
        </a>
        <ul id="topMenu" class="nav pull-right">
          <li class="">
            <a href="#login" role="button" data-toggle="modal" style="padding-right:0">
              <span class="btn btn-large btn-success">Login</span>
            </a>
            <div id="login" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="login"
                 aria-hidden="false">
              <div class="modal-body">
                <form class="form-horizontal loginFrm" action="/users/login" method="post" enctype="application/x-www-form-urlencoded">
                  <div class="control-group">
                    <input type="text" id="inputEmail" name="email" placeholder="Email">
                  </div>
                  <div class="control-group">
                    <input type="password" id="inputPassword" name="password" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>